body {
    margin: 0;
    background-color:#E5E5E5;
}

header {
    background: url(background-city.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.upper-menu {
    max-width: 1128px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 24px 25px;
}

.upper-menu a {
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.upper-menu a:hover {
    color: #ffffffab;
}

.upper-menu a:hover svg path {
    fill: #ffffffab;
}

.upper-menu nav a {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}

/*.upper-menu nav {
    display: flex;
    justify-content: space-between;
    width: 40%;
}*/

.upper-menu nav .download img {
    vertical-align: middle;
}

.upper-menu nav .download {
    margin-left: 30px;
}

.upper-menu nav .twitter {
    margin-left: 26px;
}

.upper-menu nav .facebook,
.upper-menu nav .instagram {
    margin-left: 24px;
}

.upper-menu .icon-burger {
    margin-left: auto;
    display: none;
}

.text-and-link h1 {
    margin: 0;
}

.text-and-link {
    padding: 124px 0px 0 72px;
    /*max-width: 549px;*/
}

.text-and-link h1 {
    max-width: 530px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 53.2px;
    line-height: 62px;
    color: #FFFFFF;
}

.text-and-link div {
    max-width: 549px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18.2px;
    line-height: 21px;
    color: #FFFFFF;
    margin-top: 11px;
    margin-bottom: 42px;
}

.text-and-link a {
    background: #F44336;
    box-shadow: 0px 2px 2px rgba(244, 67, 54, 0.14);
    border-radius: 3px;
    padding: 23.5px 31.865px 15.5px 33.868px;
    display: inline-block;
    /*width: 179px;
    height: 54px;
    text-align: center;*/

    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.text-and-link a svg {
    vertical-align: middle;
}

.white-block {
    margin: 0px 30px;
    height: 10px;
    background: #FFFFFF;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2), 0px 2px 24px rgba(0, 0, 0, 0.14);
    border-radius: 6px;
    position: relative;
    top: -87px;
}

@media only screen and (max-width: 768px) {
    .upper-menu {
      background: rgba(0, 0, 0, 0.4);
    }

    .text-and-link {
        padding: 107px 0px 0 24px;
        /*width: 100%;*/
    }

    .text-and-link h1 {
        max-width: 648px;
    }

    .text-and-link div {
        max-width: 716px;
        margin-top: 8px;
        margin-bottom: 43px;
    }

    .white-block {
        top: -62px;
        margin: 0 10px 0 10px;
    }
  }

  @media only screen and (max-width: 540px /*425px*/) {
    .upper-menu .icon-burger {
        display: initial;
    }
    .upper-menu nav {
          display: none;
          position: fixed;
          top: 55px;
          right: 0;
          flex-direction: column;
          align-items: flex-start;
          background: rgba(0, 0, 0, 0.603);
      }

      .upper-menu nav .components {
          margin: 5px 5px 5px 25px;
      }

      .upper-menu nav .download,
      .upper-menu nav .twitter,
      .upper-menu nav .facebook,
      .upper-menu nav .instagram {
       margin-left: 5px;
       margin-bottom: 5px;
      }

      .upper-menu nav.open {
          display: flex;
      }

      .text-and-link {
        padding: 112px 0px 0 15px;
        /*width: 100%;*/
    }

    .text-and-link h1 {
        max-width: 345px;
    }

    .text-and-link div {
        max-width: 383px;
        margin-top: 9px;
        margin-bottom: 42px;
    }
      .white-block {
        top: -54px;
    }
  }
  }